* {
    color: rgb(81, 81, 81);
    font-family: 'Indie Flower', cursive;
    font-size: 20px;

}

h1 {
    font-size: 36px;
    margin-bottom: 5px;
}


.page {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;


}

.topPanel {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

.inputTask {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.inputTask2 {
    display: block;
    width: 90%;
}

.controlPanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tasks {
    display: block;
    width: 100%;
}

.task {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-width: 1px;
    border-color: rgb(81, 81, 81);
    border-style: solid;
    margin-bottom: 5px;

}

.leftSide,
.rightSide {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.taskTexst {
    padding-left: 3px;
    margin-right: 5px;
}

.deleteTask,
.check {
    display: flex;
    align-items: center;
}

.floating-button,
.delete-button {
    border-radius: 10px;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
    transition: .3s;
}

.floating-button:hover {
    background: #2EE59D;
    box-shadow: 0 10px 15px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-3px);
}

.floating-button:active {
    background: #8feec8;
    box-shadow: 0 10px 15px rgba(20, 181, 202, 0.959);
    color: white;
    transform: translateY(-1px);
}

.delete-button:hover {
    background: #e5492e;
    box-shadow: 0 10px 15px rgba(229, 46, 46, 0.445);
    color: white;
    transform: translateY(-3px);
}

.delete-button:active {
    background: #e07562;
    box-shadow: 0 10px 15px rgba(158, 15, 4, 0.959);
    color: white;
    transform: translateY(-1px);
}

.border-img {
    border-width: 1px;
    border-color: rgb(81, 81, 81);
    border-style: solid;
    margin-left: 5px;
    margin: 1px;
}

@media screen and (max-width: 620px) {
    .page {
        width: 96%;
        min-width: 250px;
    }
}

@media screen and (max-width: 400px) {
    .controlPanel {
        flex-direction: column;
        align-items: center;
    }

    .sortPanel {
        margin-bottom: 5px;
    }

}