.task {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-width: 1px;
    border-color: rgb(81, 81, 81);
    border-style: solid;
    margin-bottom: 5px;

}

.leftSide,
.rightSide {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.taskTexst {
    padding-left: 3px;
    margin-right: 5px;
}

.deleteTask,
.check {
    display: flex;
    align-items: center;
}

.border-img {
    border-width: 1px;
    border-color: rgb(81, 81, 81);
    border-style: solid;
    margin-left: 5px;
    margin: 1px;
}